In [1]:
import pandas as pd
import numpy as np

In [2]:
# series temporales: poder predictivo poco
# hacer streamlit: visualization potente 

# ideas: 
# feature engineering, crear campos: año de convocatoria, diff entre 1a lista y nota final, porcentaje de bajada, ciudad, comunidad, 
# numero de listas o convocatorias que han habido por universidad, diferencia de notas entre años

# limpieza: quitar columnas de sobre 10, concatenar todas las particiones de años, nombres de universidades, columnas, asegurar fechas correctas, 
# todas las notas con el mismo numero de decimales

# modelo: predecir la nota (a través de un rango, con una tolerancia que defina) para el año 2022-2023 estudiando los datos de años anteriores. 
# Predecir también la probabilidad de que entres en una universidad u otra en funcion de la nota que hayas sacado en una convocatoria anterior
# adicionalmente, tener en cuenta que la metodologia del examen cambió por el COVID

# visualizacion: mapa geografico de españa, con un mapa de calor por la probabilidad o por la nota mas alta y mas baja
# visualizacion de datos historicos a traves de un grafico de linea
# crecimiento con los años
# front end que se pueda filtrar por universidad, convocatoria o nota final,

In [2]:
# input data from different years

df_2010_2011 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2010_2011 - Hoja 1.csv')
df_2011_2012 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2011_2012 - Hoja 1.csv')
df_2012_2013 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2012_2013 - Hoja 1.csv')
df_2013_2014 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2013_2014 - Hoja 1.csv')
df_2014_2015 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2014_2015 - Hoja 1.csv')
df_2015_2016 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2015_2016 - Hoja 1.csv')
df_2016_2017 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2016_2017 - Hoja 1.csv')
df_2017_2018 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2017_2018 - Hoja 1.csv')
df_2018_2019 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2018_2019 - Hoja 1.csv')
df_2019_2020 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2019_2020 - Hoja 1.csv')
df_2020_2021 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2020_2021 - Hoja 1.csv')
df_2021_2022 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2021_2022 - Hoja 1.csv')

In [3]:
list_of_dfs = [df_2010_2011, df_2011_2012, df_2012_2013, df_2013_2014, df_2014_2015, df_2015_2016, df_2016_2017, df_2017_2018, df_2018_2019, df_2019_2020, df_2020_2021, df_2021_2022]
num_years = len(list_of_dfs)

In [4]:
i = 0
total_number_of_rows = 0
while i < num_years:
    total_number_of_rows = total_number_of_rows + len(list_of_dfs[i])
    i += 1

total_number_of_rows

421

In [5]:
df_2010_2011.head()

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,4ª Lista,...,16ª Lista,Sobre 10.15,17ª Lista,Sobre 10.16,18ª Lista,Sobre 10.17,19ª lista,Sobre 10.18,20ª lista,Sobre 10.19
0,Universidad de Lérida,8/11/2010,"11,04","11,654","8,324","11,296","8,069","11,249","8,035","11,21",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,"11,07","11,61","8,293","11,305","8,075","11,259","8,042","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","8,363","11,334","8,096","11,33","8,093","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","8,614","11,975","8,554","11,88","8,486","11,767",...,"11,211","8,008","11,203","8,002","11,203","8,002","11,196","7,997","11,19","7,993"
4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","8,279","11,34","8,1","11,304","8,074","11,304",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Cleaning

### We delete rows that are not universities data

In [162]:
list_of_dfs[0] = list_of_dfs[0].dropna(axis=0, subset=['Nota de corte final de Medicina'])

In [163]:
i = 1
while i < num_years:
    list_of_dfs[i] = list_of_dfs[i].dropna(axis=0, subset=['Fecha de última admisión'])
    i += 1

In [ ]:
## AQUI EMPIEZA

In [5]:
dfs_unified = pd.DataFrame()

In [6]:
i=0
while i < num_years:
    dfs_unified = dfs_unified.append(list_of_dfs[i])
    i += 1

In [ ]:
def delete_columns_Sobre(df):
    df = df[df.columns.drop(list(df.filter(regex='Sobre')))]
    return df

In [9]:
dfs_unified = delete_columns_Sobre(dfs_unified)

In [10]:
dfs_unified.columns

Index(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', '2ª Lista', '3ª Lista',
       '4ª Lista', '5ª Lista', '6ª Lista', '7ª Lista', '8ª Lista', '9ª Lista',
       '10ª Lista', '11ª Lista', '12ª Lista', '13ª Lista', '14ª Lista',
       '15ª Lista', '16ª Lista', '17ª Lista', '18ª Lista', '19ª lista',
       '20ª lista', 'Fecha de última admisión', 'Nota de corte final',
       'Facultad de Medicina', 'Nota de corte actual', '19ª Lista',
       '20ª Lista', '21ª Lista', '22ª Lista', '23ª Lista', 'Universidad',
       'Situación según \nDefensores Universitarios / Secretarías'],
      dtype='object')

In [30]:
def copy_data(new_col, old_col):
    dfs_unified[new_col] = np.where(dfs_unified[old_col].notnull(), dfs_unified[old_col], dfs_unified[new_col])

In [45]:
dfs_unified['university'] = ''
copy_data('university', 'Notas de corte de Medicina')
copy_data('university', 'Universidad')
copy_data('university', 'Facultad de Medicina')

dfs_unified['date_last_admission'] = ''
copy_data('date_last_admission', 'Fecha de última admisión')
copy_data('date_last_admission', 'Última fecha de admisión \n(Fecha de la nota final)')

dfs_unified['final_grade'] = ''
copy_data('final_grade', 'Nota de corte final de Medicina')
copy_data('final_grade', 'Nota de corte final')
copy_data('final_grade', 'Nota de corte actual')

In [43]:
for i in range(1, 24):
    dfs_unified[str(i) + '_list'] = ''
    copy_data(str(i) + '_list', str(i) + 'ª Lista')

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_39015/3775624004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified[str(i) + '_list'] = ''

In [48]:
copy_data('19_list', '19ª lista')
copy_data('20_list', '20ª lista')

In [50]:
# drop all old columns
dfs_unified = dfs_unified.drop(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', '2ª Lista', '3ª Lista',
       '4ª Lista', '5ª Lista', '6ª Lista', '7ª Lista', '8ª Lista', '9ª Lista',
       '10ª Lista', '11ª Lista', '12ª Lista', '13ª Lista', '14ª Lista',
       '15ª Lista', '16ª Lista', '17ª Lista', '18ª Lista', '19ª lista',
       '20ª lista', 'Fecha de última admisión', 'Nota de corte final',
       'Facultad de Medicina', 'Nota de corte actual', '19ª Lista',
       '20ª Lista', '21ª Lista', '22ª Lista', '23ª Lista', 'Universidad',
       'Situación según \nDefensores Universitarios / Secretarías'], axis=1)

In [84]:
dfs_unified = dfs_unified.reset_index()
dfs_unified

,index,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,6_list,...,14_list,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list
0,0,Universidad de Lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",,...,,,,,,,,,,
1,1,Universidad de Gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",,...,,,,,,,,,,
2,2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",,...,,,,,,,,,,
3,3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713","11,651",...,"11,222","11,216","11,211","11,203","11,203","11,196","11,19",,,
4,4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,416,Universidad de Lérida,20/10/2021,"12,711","12,799","12,747","12,725","12,725","12,725","12,725",...,,,,,,,,,,
417,417,Universidad Rovira i Virgili (Reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746","12,734",...,,,,,,,,,,
418,418,,,,,,,,,,...,,,,,,,,,,
419,419,Nota media,,"13,038","13,272","13,183","13,136","13,110","13,082",,...,,,,,,,,,,
420,420,Desviación típica,,"0,199","0,223","0,224","0,208","0,206","0,203",,...,,,,,,,,,,

In [94]:
dfs_unified[~dfs_unified['university'].str.contains('U')]

,index,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,6_list,...,14_list,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list
31,31,,,,,,,,,,...,,,,,,,,,,
33,33,"** Publicada nota de 11,257 en la CiuG, el 7/9/10","Y RECTIFICADA POR 11,410; 8/9/10",,,,,,,,...,,,,,,,,,,
98,98,Nota promedio,,"12,017",,,,,,,...,,,,,,,,,,
99,99,Desviación típica,,"0,220",,,,,,,...,,,,,,,,,,
132,132,Nota promedio,,"12,082",,,,,,,...,,,,,,,,,,
133,133,Desviación típica,,"0,213",,,,,,,...,,,,,,,,,,
166,166,Nota promedio,,"12,268",,,,,,,...,,,,,,,,,,
167,167,Desviación típica,,"0,213",,,,,,,...,,,,,,,,,,
200,200,Nota promedio,,"12,422","12,605","12,517","12,480","12,455",,,...,,,,,,,,,,
201,201,Desviación típica,,"0,188","0,201","0,177","0,175","0,173",,,...,,,,,,,,,,
202,202,,,"0,184",,,,,,,...,,,,,,,,,,
203,203,,,"0,014",,,,,,,...,,,,,,,,,,
237,237,Nota promedio,,"12,449","12,712","12,591",,,,,...,,,,,,,,,,
238,238,Desviación típica,,"0,203","0,213","0,184",,,,,...,,,,,,,,,,
272,272,Nota promedio,,"12,460","12,748","12,625","12,573",,,,...,,,,,,,,,,
273,273,Desviación típica,,"0,238","0,218","0,191","0,188",,,,...,,,,,,,,,,
307,307,Nota promedio,,"12,504","12,752","12,639",,,,,...,,,,,,,,,,
308,308,Desviación típica,,"0,224","0,232","0,214",,,,,...,,,,,,,,,,
343,343,Nota promedio,,"12,561","12,779","12,664",,,,,...,,,,,,,,,,
344,344,Desviación típica,,"0,239","0,240","0,222",,,,,...,,,,,,,,,,
380,380,,,,,,,,,,...,,,,,,,,,,
381,381,Nota promedio,,"12,903","13,193",,,,,,...,,,,,,,,,,
382,382,Desviación típica,,"0,236","0,226",,,,,,...,,,,,,,,,,
418,418,,,,,,,,,,...,,,,,,,,,,
419,419,Nota media,,"13,038","13,272","13,183","13,136","13,110","13,082",,...,,,,,,,,,,
420,420,Desviación típica,,"0,199","0,223","0,224","0,208","0,206","0,203",,...,,,,,,,,,,

In [96]:
dfs_unified = dfs_unified[dfs_unified['university'].str.contains('U')]

In [97]:
dfs_unified.shape

(395, 27)

In [98]:
dfs_unified[dfs_unified['date_last_admission'].isnull()]

Empty DataFrame
Columns: [index, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 27 columns]

In [99]:
dfs_unified[dfs_unified['1_list'].isnull()]

Empty DataFrame
Columns: [index, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 27 columns]

In [100]:
dfs_unified[dfs_unified['final_grade'].isnull()]

Empty DataFrame
Columns: [index, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 27 columns]

In [101]:
dfs_unified[dfs_unified['university'].isnull()]

Empty DataFrame
Columns: [index, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 27 columns]

In [ ]:
# nombres de universidades
# duplicados
# notas de mayor a menor