In [1]:
import pandas as pd

In [2]:
# ideas: 
# feature engineering, crear campos: año de convocatoria, diff entre 1a lista y nota final, porcentaje de bajada, ciudad, comunidad, 
# numero de listas o convocatorias que han habido por universidad, diferencia de notas entre años

# limpieza: quitar columnas de sobre 10, concatenar todas las particiones de años, nombres de universidades, columnas, asegurar fechas correctas, 
# todas las notas con el mismo numero de decimales

# modelo: predecir la nota (a través de un rango, con una tolerancia que defina) para el año 2022-2023 estudiando los datos de años anteriores. 
# Predecir también la probabilidad de que entres en una universidad u otra en funcion de la nota que hayas sacado en una convocatoria anterior
# adicionalmente, tener en cuenta que la metodologia del examen cambió por el COVID

# visualizacion: mapa geografico de españa, con un mapa de calor por la probabilidad o por la nota mas alta y mas baja
# visualizacion de datos historicos a traves de un grafico de linea
# crecimiento con los años
# front end que se pueda filtrar por universidad, convocatoria o nota final,

In [3]:
# input data from different years

df_2010_2011 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2010_2011 - Hoja 1.csv')
df_2011_2012 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2011_2012 - Hoja 1.csv')
df_2012_2013 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2012_2013 - Hoja 1.csv')
df_2013_2014 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2013_2014 - Hoja 1.csv')
df_2014_2015 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2014_2015 - Hoja 1.csv')
df_2015_2016 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2015_2016 - Hoja 1.csv')
df_2016_2017 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2016_2017 - Hoja 1.csv')
df_2017_2018 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2017_2018 - Hoja 1.csv')
df_2018_2019 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2018_2019 - Hoja 1.csv')
df_2019_2020 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2019_2020 - Hoja 1.csv')
df_2020_2021 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2020_2021 - Hoja 1.csv')
df_2021_2022 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2021_2022 - Hoja 1.csv')

In [4]:
df_2010_2011.head()

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,4ª Lista,...,16ª Lista,Sobre 10.15,17ª Lista,Sobre 10.16,18ª Lista,Sobre 10.17,19ª lista,Sobre 10.18,20ª lista,Sobre 10.19
0,Universidad de Lérida,8/11/2010,"11,04","11,654","8,324","11,296","8,069","11,249","8,035","11,21",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,"11,07","11,61","8,293","11,305","8,075","11,259","8,042","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","8,363","11,334","8,096","11,33","8,093","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","8,614","11,975","8,554","11,88","8,486","11,767",...,"11,211","8,008","11,203","8,002","11,203","8,002","11,196","7,997","11,19","7,993"
4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","8,279","11,34","8,1","11,304","8,074","11,304",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_2010_2011.columns

Index(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', 'Sobre 10', '2ª Lista',
       'Sobre 10.1', '3ª Lista', 'Sobre 10.2', '4ª Lista', 'Sobre 10.3',
       '5ª Lista', 'Sobre 10.4', '6ª Lista', 'Sobre 10.5', '7ª Lista',
       'Sobre 10.6', '8ª Lista', 'Sobre 10.7', '9ª Lista', 'Sobre 10.8',
       '10ª Lista', 'Sobre 10.9', '11ª Lista', 'Sobre 10.10', '12ª Lista',
       'Sobre 10.11', '13ª Lista', 'Sobre 10.12', '14ª Lista', 'Sobre 10.13',
       '15ª Lista', 'Sobre 10.14', '16ª Lista', 'Sobre 10.15', '17ª Lista',
       'Sobre 10.16', '18ª Lista', 'Sobre 10.17', '19ª lista', 'Sobre 10.18',
       '20ª lista', 'Sobre 10.19'],
      dtype='object')

In [6]:
df_2021_2022.head()

,Universidad,Fecha de última admisión,Situación según \nDefensores Universitarios / Secretarías,Nota de corte actual,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,...,19ª Lista,Sobre 10.18,20ª Lista,Sobre 10.19,21ª Lista,Sobre 10.20,22ª Lista,Sobre 10.21,23ª Lista,Sobre 10.22
0,Universidad Complutense de Madrid,29/09/2021,285 matriculados / 295 plazas (25-oct.),"13,426","13,500","9,643","13,455","9,611","13,446","9,604",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Sevilla,24/09/2021,290 matriculados / 291 plazas (14-dic.),"13,345","13,530","9,664","13,445","9,604","13,400","9,571",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad de Murcia,17/09/2021,214 matriculados / 200 plazas (15-oct.),"13,345","13,558","9,684","13,492","9,637","13,449","9,606",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Granada,24/09/2021,256 matriculados / 253 plazas (20-oct.),"13,319","13,580","9,700","13,494","9,639","13,450","9,607",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U. Autónoma de Madrid,28/10/2021,240 matriculados / 240 plazas,"13,309","13,463","9,616","13,407","9,576","13,350","9,536",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN